* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    max-height: 100vh;
    max-width: 100%;
    font-family: "Roboto", Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color:aqua;
    height: 9.7vh;
}

.containerformcreate p {
    color: red;
    font-size: 13px;
}

header h1 {
    margin-left: 5px;
}

form {
    height: 84.1vh;
    background-image: url("./assets/img/management.png");
    background-position: left;
    background-repeat: no-repeat;
}

.containerformlogin {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84.1vh;
}

.containerformcreate {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84.1vh;
}

.containerformsendcode {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84.1vh;
}

.containerformcheckcode {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84.1vh;
}

.containerformnewpassword {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84.1vh;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.containerinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.containerinput input {
    height: 35px;
    width: 200px;
    margin-bottom: 10px;
    background-color: #ebeaea;
    padding-left: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.containerbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerbutton button {
    height: 40px;
    width: 150px;
    background-color: #f9f9f9;
    border: 1px solid #333;
    z-index: 1;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* .containerbutton a:hover {
    background-color: #e7e6e6;
    opacity: 1;
}

.containerbutton a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 40px;
    width: 150px;
    border: 1px solid black;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
} */

.containerhelp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #f9f9f9;
    height: 6.2vh;
}