.summaryFinancial {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px 30px 10px;
}

.summaryFinancial ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.summaryFinancial li {
    margin-bottom: 20px;
}

.summaryFinancial li p {
    display: flex;
    justify-content: space-between;
}

.containerfinance1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containerfinance2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containerfinance3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containerfinance4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerfinance5 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containermovements {
    padding-left: 10px;
    width: 100%;
    border-top: 2px solid black;
    padding-top: 30px;
}

.containermovements table {
    width: 100%;
}

.containerconfig {
    display: flex;
    justify-content: space-between;
}

.containerconfig button {
    margin-right: 20px;
    border: none;
    padding: 5px;
    background-color: rgb(226, 226, 226);
}

.containerconfig button:hover {
    background-color: #cfcfcf;
    border-radius: 25px;
}

.tabletitle {
    text-align: left;
}

.date {
    width: 90px;
}

.source {
    width: 70px;
}

.paymentmethod {
    width: 140px;
}

.money {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.report {
    width: 100%;
    display: flex;
    justify-content: end;
}

.report a:hover {
    background-color: #cfcfcf;
}

.report a {
    margin-right: 10px;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}

.graficos {
    padding-bottom: 30px;
}


.movementsaddinit {
    display: flex;
    width: 100%;
    padding-right: 30px;
    padding-left: 10px;
}

.movementsaddinit img {
    padding: 10px;
    margin-right: 10px;
}

.movementsaddinit img:hover {
    background-color: #cfcfcf;
    border-radius: 25px;
}

.containerMovementsFinancial h1 {
    width: 100%;
    margin-bottom: 20px;
}

.containerMovementsFinancial {
    display: flex;
    flex-direction: column;
}

#formularioaddmovement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

#formularioaddmovement div {
    display: flex;
    width: 40%;
    margin-bottom: 10px;
    justify-content: start;
}

#formularioaddmovement div label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 5px;
    text-align: center;
}

#formularioaddmovement button {
    width: 80px;
    height: 50px;
}

#nome {
    width: 70%;
}



















































.display-none {
    display: none;
}