.containerinit {
    display: flex;
    width: 100%;
    justify-content: space-between ;
    padding-top: 10px;
background-color: rgb(226, 226, 226);
}

.settings {
    display: flex;
    width: 140px;
    justify-content: space-between;
    padding-right: 20px;
background-color: rgb(226, 226, 226);
}

.containertimeline {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 250px;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.tabletimeline {
    width: 100%;
    border-collapse: collapse;
}

.tabletimeline tr:hover {
    background-color: #ddd;
}

.tabletimeline td {
    padding-top: 3px;
}

.containertasks {
    margin-left: 10px;
    width: 250px;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.containertasks ul {
    padding-top: 10px;
    list-style: none;
}

.containertasks ul li {
    margin-bottom: 10px;
}

.body {
    display: flex;
    width: 100%;
    justify-content: left;
    background-color: rgb(226, 226, 226);
}

.academy {
    /* margin-left: 10px; */
    margin-bottom: 20px;
    width: 350px;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.containersubtitleacademy {
    display: flex;
    justify-content: space-between;
}

.academy button {
    /* background-color: rgb(211, 211, 211); */
background-color: rgb(226, 226, 226);
    border: none;
    font-weight: 700;
    padding: 5px;
}

.academy button:hover {
    background-color: #ddd;
}

.academy ul {
    list-style: none;
    padding-top: 10px;
}

.listtraining li {
    margin-top: 5px;
}


.academy h4 {
    margin: 10px
}

.academy input {
    border: none;
    /* background-color: rgb(211, 211, 211); */
background-color: rgb(226, 226, 226);
}

.academy input:focus {
    outline: none;
}

.containerstretching li {
    margin-bottom: 10px;
}

.containerbutton {
    text-align: right;
}

.summaryFinancial {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 350px;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.summaryFinancial ul {
    list-style-type: none;
}

.summaryFinancial li {
    min-width: 40%;
    max-width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.summaryFinancial li p {
    display: flex;
    justify-content: space-between;
}

.containerfinance1 {
    display: flex;
    justify-content: space-between;
}

.containerfinance2 {
    display: flex;
    justify-content: space-between;
}

.containerfinance3 {
    display: flex;
    justify-content: space-between;
}

.containerfinance4 {
    display: flex;
    justify-content: center;
}

.containerfinance5 {
    display: flex;
    justify-content: space-between;
}

.summarygoals {
    /* margin-right: 10px; */
    margin-bottom: 20px;
    width: 340px;
    /* background-color: rgb(211, 211, 211); */
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}

.listgoals {
    margin-top: 10px;
    list-style: none;
}

.listgoals li {
    margin-bottom: 10px;
}







