/* Esconde o checkbox padrão */
input[type="checkbox"] {
  display: none;
}

/* Cria o estilo personalizado do checkbox */
input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px; /* Espaço à esquerda para a "caixa" */
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

/* Cria a "caixa" do checkbox */
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #4CAF50;
  border-radius: 4px;
  background-color: rgb(226, 226, 226);
  transition: background-color 0.3s;
}

/* Estilo para o checkbox marcado */
input[type="checkbox"]:checked + label::before {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

/* Ícone de "check" quando marcado */
input[type="checkbox"]:checked + label::after {
  content: "✔";
  position: absolute;
  left: 3px;
  top: 5;
  color: white;
  font-size: 16px;
}
